<!-- Page Content -->
<div class="row">

    <div class="col-md-3">
      <%= render 'common/sidebar' %>
    </div>

    <div class="col-md-9">

        <div class="row carousel-holder">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% @banner_stores.to_enum.each.with_index do |store,index| %>
                          <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <% if index==0 %>class="active"<% end %>></li>
                        <% end %>
                    </ol>

                    <div class="carousel-inner">
                      <% @banner_stores.to_enum.each.with_index(1) do |store,index| %>
                        <div class="item <% if index==1 %>active<% end %>">
                            <%= show_store_banner(store) %>
                        </div>
                      <% end %>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">

          <% @stores.each do |store| %>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <%= link_to store_path(store) do %>
                    <%= show_store_img(store,'') %>
                    <% end %>
                    <div class="caption">

                        <h4><%= link_to(store.name, store_path(store)) %></h4>
                        <p>
                          <%= store.tel %>
                        </p>
                        <p><%= truncate(store.content, length: 100) %></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">18 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">提供更多商家？</a>
                </h4>
                <p>您找不到想要的商家嗎？想提供更多商家讓您的生活更加便利，請點<a target="_blank" href="#">加入說明</a>提供更多熱門商家!</p>
                <%= link_to("立刻提供", new_store_path, class: "btn btn-danger"  ) %>
            </div>

        </div>

    </div>
</div>
